<body>
<%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <%elsif @success %>
      <div class="alert alert-success"><%=@success%></div>  
    <% end %>
  <table>
      <tbody>
          <thead>
              <th>
                  <tr>
                      <%= image_output(1) %>
                      <%= image_output(2) %>
                      <%= image_output(3) %>
                    </tr>
                    <tr>
                      <%= image_output(4) %>
                      <%= image_output(5) %>
                      <%= image_output(6) %>
                    </tr>
                    <tr>
                      <%= image_output(7) %>
                      <%= image_output(8) %>
                      <%= image_output(9) %>
                  </tr>
              </th>
          </thead>
      </tbody>
  </table>   
</body>